salesforce-screenflow/force-app/main/default/flows/CallCenterFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AssignContactToCase</name>
        <label>ケースに取引先責任者を割り当て</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>NewCase.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WindowContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGetContactToWindowContact</name>
        <label>画面表示用に取引先責任者を割り当て</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>WindowContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WindowContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContact.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WindowContact.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContact.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WindowContact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContact.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WindowContact.HomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContact.HomePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WindowContact.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContact.MailingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WindowContact.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContact.MailingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WindowContact.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContact.MailingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WindowContact.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContact.MailingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WindowContact.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContact.MailingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WindowContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContact.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WindowContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignValueToCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewContactToWindowContact</name>
        <label>画面表示用に取引先責任者を割り当て</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>WindowContact.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IncomingPhoneNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignValueToCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignValueToCase</name>
        <label>新規ケース割り当て</label>
        <locationX>182</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>NewCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateCaseWindow</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CreateOrUpdate</name>
        <label>取引先責任者を更新するか新規作成するか</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>UpdateWindowContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>更新する</defaultConnectorLabel>
        <rules>
            <name>CreateContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WindowContact.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateWindowContact</targetReference>
            </connector>
            <label>新規作成する</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsContactExist</name>
        <label>取引先責任者が存在するか</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>AssignNewContactToWindowContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>存在しない</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignGetContactToWindowContact</targetReference>
            </connector>
            <label>存在する</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CallCenterFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>コールセンターフロー</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateCase</name>
        <label>ケース作成</label>
        <locationX>182</locationX>
        <locationY>1310</locationY>
        <inputReference>NewCase</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateWindowContact</name>
        <label>取引先責任者を新規作成</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>AssignContactToCase</targetReference>
        </connector>
        <inputReference>WindowContact</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetContact</name>
        <label>取引先責任者を取得</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsContactExist</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncomingPhoneNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncomingPhoneNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>HomePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncomingPhoneNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssistantPhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncomingPhoneNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>OtherPhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncomingPhoneNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateWindowContact</name>
        <label>取引先責任者を更新</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>AssignContactToCase</targetReference>
        </connector>
        <inputReference>WindowContact</inputReference>
    </recordUpdates>
    <screens>
        <name>CreateCaseWindow</name>
        <label>ケース新規作成</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateOrUpdate</targetReference>
        </connector>
        <fields>
            <name>CreateCaseWindow_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CreateCaseWindow_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContactLabel</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;● 取引先責任者&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>WindowContact.Name</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>WindowContact.Phone</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>WindowContact.HomePhone</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>WindowContact.MobilePhone</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>WindowContact.Email</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>WindowContact.MailingAddress</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CreateCaseWindow_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CaseLabel</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;● ケース&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>NewCase.Subject</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>NewCase.Origin</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>NewCase.Priority</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>NewCase.Reason</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>NewCase.Type</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>NewCase.Description</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>作成</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetContact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IncomingPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>NewContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>WindowContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
